<div class="row">
    <div class="col-12 center">
        <h1>This is the manager view</h1>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        {{#each colors}}
        <div class="square {{this}}"></div>
        {{/each}}
    </div>
    <div class="col-2"></div>
</div>