<div class="row">
    <div class="col-12 center">
        <h1>Waiter Availability</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 center">
        <h2></h2>
    </div>
</div>

<div class="row">
    <div class="col-12 center">
        <form class="" action="/waiterOrManagerView" method="POST">
        <button type="submit" name="portal" value="waiter" name="portal">Waiter</button>
        <button type="submit" name="portal" value="manager" name="portal">Manager</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12 center">
        <div class="text-center">
        <b-spinner label="Spinning"></b-spinner>
        <b-spinner type="grow" label="Spinning"></b-spinner>
        <b-spinner variant="primary" label="Spinning"></b-spinner>
        <b-spinner variant="primary" type="grow" label="Spinning"></b-spinner>
        <b-spinner variant="success" label="Spinning"></b-spinner>
        <b-spinner variant="success" type="grow" label="Spinning"></b-spinner>
      </div>
    </div>
</div>



{{!-- <form method="POST">
    <button type="submit" form="getWorkdays">Submit</button>
    <button type="submit" formaction="/getWorkdays/reset/{{id}}/{{email}}">Reset</button>
</form> --}}

{{!-- <div class="row">
    <div class="col-12 center">
        <form class="" action="/aPostRoute" method="POST">
            <input type="text" name="anInput" placeholder="Enter Input">
            <input type="text" name="anotherInput" placeholder="Enter Another Input">
            <input type="submit">
            <a href=""></a>
        </form>
    </div>
</div> --}}