body {
    background-color: #463f3f;
    color: #fff;
}


.navbar {
    opacity: 0.8;
    border-bottom: #008ed6 3px solid;
}

#home-section {
    background: url(../img/restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 948px;
}

#home-section .dark-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 948px;
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .fas {
    color: #008ed6;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}